<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztgeo.mapper.ApiAuthRelMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ztgeo.entity.ApiAuthRel" id="apiAuthRelMap">
        <result property="relId" column="rel_id"/>
        <result property="userPubkey" column="user_pubkey"/>
        <result property="apiPubkey" column="api_pubkey"/>
    </resultMap>



</mapper>