<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztgeo.mapper.ApiBodyTypeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ztgeo.entity.ApiBodyType" id="apiBodyTypeMap">
        <result property="bodyTypeId" column="body_type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="typeParentType" column="type_parent_type"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>