<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztgeo.mapper.BlackListIpMapper">

    <resultMap type="com.ztgeo.entity.BlackListIp" id="blackListIpMap">
        <result property="ipId" column="ip_id"/>
        <result property="ipContent" column="ip_content"/>
        <result property="ipNote" column="ip_note"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>