<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztgeo.mapper.WfmProcessApiStepRelMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ztgeo.entity.WfmProcessApiStepRel" id="wfmProcessApiStepRelMap">
        <result property="relId" column="rel_id"/>
        <result property="sId" column="s_id"/>
        <result property="apiId" column="api_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectApiStepRelBySId" resultMap="wfmProcessApiStepRelMap">
        select *
        from wfm_process_api_step_rel wpasr
        where wpasr.s_id = #{sId}
    </select>

</mapper>